
<span class="btn @css">@text</span>

@code {
    [Parameter]
    public EnumPriority Priority { get; set; }

    string text => Priority.ToString();

    string css => Priority switch
    {
        EnumPriority.High => "alert-danger",
        EnumPriority.Normal => "alert-primary",
        _ => "alert-secondary"
    };

}
