
summary::before {
    content: '\25B6';
    padding: 0.5em;
}

details[open] > summary::before {
    content: '\25BC';
}

details[open] > summary {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
