@inject IDescriptionService descriptionService

@if (descriptions is null)
{
    <LoadingPanel />
}
else
{
    <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <CreateIssuesFields @bind-Model="model" DescriptionSources="descriptions" Processing="@Processing" />

        <button type="submit" class="btn btn-primary col mt-3" disabled="@Processing">
            @buttonText
        </button>

    </EditForm>
}

@code {
    [Parameter]
    public bool Processing { get; set; }
    [Parameter]
    public EventCallback<IssueGenerationViewModel> OnValidSubmit { get; set; }

    private List<(string name, int id)> descriptions;
    private IssueGenerationViewModel model = new();

    string buttonText => Processing ? "Please wait..." : "Generate issues";

    protected override async Task OnInitializedAsync()
    {
        descriptions = await descriptionService.GetNamesAsync();

        model.IssuesCount = 1;
        model.LimitWordsCount = true;
        model.MaxWordsCount = 100;
        model.RandomizeWordsCount = true;
    }

    private async Task HandleValidSubmit()
    {
        await OnValidSubmit.InvokeAsync(model);
    }
}
