.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    opacity: .7;
}

.bug {
    width: max(3vmin, 3rem);
    height: max(3vmin, 3rem);
    opacity: 1;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) translate(-150%);
    }

    100% {
        transform: rotate(360deg) translate(-150%);
    }
}
