@page "/create-issues"
@inject IIssueService issueService

<PageHeader Title="Create Issues" />

<main class="content p-5">

    <CreateIssuesForm Processing="processing" OnValidSubmit="Generate" />

</main>

@code {
    bool processing = false;

    private async Task Generate(IssueGenerationViewModel model)
    {
        processing = true;
        await issueService.GenerateIssuesAsync(model);
        processing = false;
    }
}
