@page "/descriptions"
@inject IDescriptionService descriptionService

<PageHeader Title="Description sources" />

<main class="content p-5">

    @if (descriptions is null)
    {
        <div class="alert alert-primary">
            Loading data...
        </div>
    }
    else
    {
        @foreach (var description in descriptions)
        {
            <DescriptionItem Description="description" OnDescriptionDeleted="DescriptionDeleted" />
        }
        <DescriptionNewItem OnDescriptionAdded="DescriptionAdded" />
    }

</main>

@code {
    private List<DescriptionViewModel> descriptions;

    protected override async Task OnInitializedAsync()
    {
        descriptions = await descriptionService.GetAsync();
    }

    private void DescriptionAdded(DescriptionViewModel description)
    {
        descriptions.Add(description);
    }

    private async Task DescriptionDeleted()
    {
        descriptions = await descriptionService.GetAsync();
    }
}
