
@if (Visible)
{
    <div class="mask-panel">
        <div>@Text</div>
    </div>
}

@code {
    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public string Text { get; set; } = "Please wait...";
}
