.mask-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    opacity: .7;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}
